*{
  background-color: #2d2c2c;
  margin: 0px;
  padding: 0px;
}

#box_title{
  background-color: #9b3131;
}
#title{
  padding: 20px;
  text-align:center;
  background-color: #9b3131;
  color: white;
}
